<div class="password-block">
    <label for="create-password" class="profile__label"
      >Enter New Password</label
    >
    <input
      name="create-password"
      class="profile__input"
      [(ngModel)]="this.comdet.createdPassword"
      type="{{this.comdet.typeCreatePassword}}"
    />
    <button
      ion-button
      clear
      class="eye__button--password eye__button--showPassword"
      color="dark"
      type="button"
      item-right
      (click)="showPassword('createpassword')"
    >
      <ion-icon
        *ngIf="this.comdet.matched"
        class="iconVerified"
        name="verified"
      ></ion-icon>
      <ion-icon name="{{this.comdet.eyeIconCreatePassword}}"></ion-icon>
    </button>
    <div class="profile__password-rule">
      (7-12 characters, alpha-numeric with one special character)
    </div>
  </div>
  <div class="password-block">
    <label for="reenter-password" class="profile__label"
      >Re-enter New Password</label
    >
    <input
      name="reenter-password"
      (change)="isPasswordMatch()"
      class="profile__input"
      [(ngModel)]="this.comdet.reEnteredPassword"
      type="{{this.comdet.typeRenamePassword}}"
    />
    <button
      ion-button
      clear
      class="eye__button--password eye__button--showPassword"
      color="dark"
      type="button"
      item-right
      (click)="showPassword('reenterpassword')"
    >
      <ion-icon
        *ngIf="this.comdet.matched"
        class="iconVerified"
        name="verified"
      ></ion-icon>
      <ion-icon name="{{this.comdet.eyeIconRenamePassword}}"></ion-icon>
    </button>
  </div>
