page-member-activation {
    .memberActivation__content-container {
      overflow-y: auto;
    }
    .memberActivation_Content-Header {
      font-family: Proxima-Nova-Reg;
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
      width: 90%;
      margin: 10px auto;
    }
  }
  